body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(244, 132, 154);
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.weatherForm{
    margin: 20px;
}
.cityInput{
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid rgb(87, 87, 87);
    border-radius: 10px; 
    margin: 10px;
    width: 300px;
}
button[type="submit"]{
    padding:10px 20px;
    font-weight: bold;
    font-size: 2rem;
    background-color:rgb(101, 186, 15);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover{
    background-color: rgb(174, 252, 57);
}

.card{
    background: linear-gradient(180deg, rgb(133, 133, 191), rgb(231, 181, 86));
    padding: 50px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    min-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    text-align: center;
    color: #333;
}

h1{
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: 2.5rem;
    color: #222;
}

p{
    font-size: 1.5rem;
    margin: 8px 0px;
}

.cityDisplay{
    font-size: 3rem;
    font-weight: bold;
    color: #000;
}

.timeDisplay{
    font-size: 1.8rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 15px;
}

.tempDisplay{
    font-size: 2rem;
    font-weight: bold;
    color: #ff5733;
}

.humidityDisplay{
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 1.8rem;
}

.descDisplay{
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;
    color: #555;
}

.weatherEmoji{
    margin-top: 10px;
    font-size: 5rem;
}

.errorDisplay{
    font-size: 2.5rem;
    font-weight: bold;
    color: red;
}